@import 'variables';

svg {
  fill: none;
}

#asilenbept {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/asilenbept.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cube {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 20rem;
  height: 20rem;
  stroke: $white-as;
  stroke-dasharray: 7px;
  stroke-dashoffset: 14px;
  animation: travel 1s linear infinite;
}

.square-line {
  width: 7.6rem;
  height: 0.1px;
  stroke: $white-as;
  transform: rotate(-39deg);
  transform-box: fill-box;
  stroke-width: 0.9px;
  stroke-dasharray: 7px;
  stroke-dashoffset: 16.4px;
  animation: slash-travel 1s linear infinite;
}

.line {
  stroke: $white-as;
  stroke-width: 1px;
  stroke-dasharray: 7px;
  stroke-dashoffset: 14px;
  animation: travel 1s linear infinite;
}

.button-compose {
  position: absolute;
  bottom: 40px;
  display: flex;
  border: 1px solid #1e6fa5;
  width: 7rem;
  height: 2.8rem;
  border-radius: 4px;
}

.main-button {
  position: absolute;
  width: 7rem;
  margin: 0;
  height: 2.8rem;
  background-color: $white-as;
  border-radius: 4px;
  opacity: 0.07;
}

.button-compose:hover .main-button {
  opacity: 0.12;
}

.button-compose:hover > p {
  color: $pearl-as;
}

.button-compose:hover {
  border: double #1e6fa5;
}

.button-compose:active .main-button {
  opacity: 0.22;
}

.button-compose > p {
  font-size: 1.4em;
  text-align: center;
  width: inherit;
  margin: 10px;
  font-weight: bold;
  color: $white-as;
}

#A {
  position: absolute;
  height: 11.7rem;
  opacity: 0;
  animation: turn-on 7s ease-in-out forwards;
}

@keyframes travel {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes slash-travel {
  to {
    stroke-dashoffset: 14;
  }
}

@keyframes turn-on {
  22% {
    opacity: 0.5;
  }
  26% {
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  34% {
    opacity: 0;
  }
  36% {
    opacity: 0.4;
  }
  39% {
    opacity: 0.5;
  }
  48% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}