@import 'variables';

.content {
    margin: inherit;
    padding: inherit;
    width: inherit;
    display: flex;
    width: 78%;
}

.blog {
    display: block;
    margin: inherit;
    width: inherit;
    justify-content: center;
    padding: 3em 2em;
}

.story-title {
    font-size: 2.2em;
    font-style: italic;
}

.story-core {
    font-size: 1.8em;
    font-style: italic;
}

#sidebar, .content {
  height: 600px;
  overflow:auto;
  float:left;
  transition: width .76s;
}

#sidebar {
  background: url('../images/sidebar_alt2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  width: 22%;
}

#sidebar.collapsed {
    width: 0;
}

#sidebar.collapsed + .content {
    width: 100%;
}

.sidebar-list {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
}

.sidebar-items {
    padding: 0.7em;
    background-color: $pearl-as;
    opacity: 0.8;
    cursor: pointer;
}

button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:none;
    outline:none;
    background: black;
    margin: 17px;
    cursor:pointer;
}