@import 'variables';

footer {
    display: grid;
    margin: inherit;
    padding: inherit;
    width: inherit;
    height: 30vh;
    background-color: $dark-as;
    border-bottom: 1px solid $pearl-as;
}

.main-footer {
    display: inherit;
    width: inherit;
    grid-template-columns: 21rem 10rem 10rem;
    justify-content: space-around;
    align-content: space-around;
}

.contact-area {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 3.2rem;
    border-radius: 5px;
    background-color: $pearl-as;
    opacity: 0.9;
    
}

.contact-area i {
    font-size: 2em;
    margin: 0rem 1rem;
}