.main {
    margin: inherit;
    padding: inherit;
    width: 100vw;
    height: inherit;
    position: relative;
}

/*TODO change width for medium and small screens*/
.main-image {
    margin: inherit;
    padding: inherit;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: -1;
    background-image: url(../images/mainAs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: top;
    transition-duration: 2s;
}