/* Main Asilenbept colors */
$dark-as: #000F15;
$bold-as: #001F25;
$main-as: #003339;
$steel-as: #578588;
$light-as: #C4EBEB;

/* Secondary Asilenbept colors */
$brown-as: #120A03;
$pearl-as: #FFFF9F;
$gray-as: #BABE99;
$red-as: #4F0000;
$blue-as: #00051E;
$purple-as: #300022;
$yellow-as: #E0E000;
$white-as: #FBFBE9;