@import 'landscape';
@import 'navbar';
@import 'main-content';
@import 'blog';
@import 'footer';
@import 'fonts';
@import 'asilenbept';

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}